---

version: 3
images:
  base_image:
    name: quay.io/fedora/fedora:43
dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.1
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    - sshpass
    - less
  galaxy:
    collections:
    - name: ansible.posix
      version: 2.1.0
    - name: ansible.utils
      version: 6.0.0
    - name: ansible.windows
      version: 3.3.0

additional_build_steps:
  prepend_base:
    - RUN dnf install -y python3 python3-pip python3-libdnf5
