---

version: 3
images:
  base_image:
    name: quay.io/fedora/fedora:42
dependencies:
  ansible_core:
    package_pip: ansible-core==2.18.8
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    - sshpass
    - less
  galaxy:
    collections:
    - name: ansible.posix
      version: 1.6.2
    - name: ansible.utils
      version: 5.1.2
    - name: ansible.windows
      version: 2.8.0

additional_build_steps:
  prepend_base:
    - RUN dnf install -y python3 python3-pip python3-libdnf5
    - RUN $PYCMD -m pip install acparser ansible-lint
