# The name can be "ansible", "ansible-base" or "ansible-core" in which case
# they would be installed from PyPI.
# The name can otherwise be the path to a git repository or release tarball.
# We're handling it here to allow various levels of variable precedence.
- name: Set default Ansible name if unset
  ansible.builtin.set_fact:
    images_ansible_name: ansible
  when: images_ansible_name is not defined or images_ansible_name is none

- name: Set default Ansible version is unset
  ansible.builtin.set_fact:
    images_ansible_version: latest
  when: images_ansible_version is not defined or images_ansible_version is none

# If a version is not explicitly set we want to make sure to
# completely omit the version argument to pip, as it will be coming
# from the long-form images_ansible_name variable.  Additionally, if
# the version is the special value "latest", then we also want to omit
# any version number, but also set the package state to "latest".
- name: Set Ansible version for installation
  ansible.builtin.set_fact:
    _install_ansible_version: "{{ images_ansible_version }}"
  when: images_ansible_version not in ("", "latest")

- name: Set Ansible package state for installation
  ansible.builtin.set_fact:
    _install_ansible_state: latest
  when: images_ansible_version == "latest"

- name: Get Ansible python facts
  ansible.builtin.setup:
    filter: ansible_python

- name: Clean up virtualenv if necessary
  ansible.builtin.file:
    path: "{{ images_venv }}"
    state: absent
  when: images_venv_cleanup | bool

- name: Initialize virtual environment with the specified ansible(-core) package
  ansible.builtin.pip:
    name: "{{ images_ansible_name }}"
    version: "{{ _install_ansible_version | default(omit, true) }}"
    state: "{{ _install_ansible_state | default(omit, true) }}"
    virtualenv: "{{ images_venv }}"
    virtualenv_command: "{{ ansible_python.executable }} -m venv"

# For debug purposes: record minimum introspection of installed ansible, ansible-base and ansible-core versions
- name: Record effective version of Ansible installed
  ansible.builtin.shell: "{{ images_venv }}/bin/pip show {{ item }} | awk '/Version/ {print $2}'"
  ignore_errors: yes
  changed_when: false
  loop:
    - ansible
    - ansible-base
    - ansible-core
