---

version: 3
images:
  base_image:
    name: quay.io/fedora/fedora:43
dependencies:
  ansible_core:
    package_pip: ansible-core==2.19.4
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
    - sshpass
    - less

additional_build_steps:
  prepend_base:
    - RUN dnf install -y python3 python3-pip python3-libdnf5
