- name: Publish ansible-test container images
  hosts: all
  gather_facts: false
  vars:
    destination: "{{ destination_repository | default('quay.io/ansible-community/test-image') }}"
    images:
      # These images are meant to be provided by running the "build-ansible-test-images.yml" playbook.
      # TODO: re-enable arch
      # - name: localhost/test-image
      #   tag: archlinux
      - name: localhost/test-image
        tag: centos-stream8
      - name: localhost/test-image
        tag: debian-bullseye
  tasks:
    - name: Tag images with buildah
      command: |
        buildah tag {{ item.name }}:{{ item.tag }} {{ destination }}:{{ item.tag }}
      loop: "{{ images }}"

    - name: Push images to the destination repository
      command: |
        buildah push --creds {{ images_registry.username }}:{{ images_registry.password }} {{ destination }}:{{ item.tag }}
      no_log: yes
      loop: "{{ images }}"
