---
name: ansible-test images

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ansible-test.yml
      - ansible-test/**
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ansible-test.yml
      - ansible-test/**
  workflow_dispatch:
  # Run daily (Monday at 08:00 UTC)
  schedule:
    - cron: '0 8 * * *'

env:
  CONTAINER_REGISTRY: quay.io
  CONTAINER_IMAGE_NAME: ansible-community/test-image

jobs:
  build:
    name: 'Build ansible-test images (${{ matrix.name }} with Python ${{ matrix.python }})'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: archlinux
            python: '3.14'
            ansible-core-1: ansible-core
            ansible-core-2: devel
            test-with-podman: true
            test-with-docker: true
          - name: debian-bullseye
            python: '3.9'
            ansible-core-1: ansible-core
            ansible-core-2: devel
            test-with-podman: true
            test-with-docker: true
          - name: debian-bookworm
            python: '3.11'
            ansible-core-1: ansible-core
            ansible-core-2: devel
            test-with-podman: true
            test-with-docker: true
          - name: debian-13-trixie
            python: '3.13'
            ansible-core-1: ansible-core
            ansible-core-2: devel
            test-with-podman: true
            test-with-docker: true

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Downgrade Docker
        # For some reason GitHub decided to bump Docker on the ubuntu-24.04 image,
        # which is not compatible with podman and various other things.
        run: |
          # See https://docs.docker.com/engine/install/ubuntu/.

          # Add Docker's official GPG key:
          sudo apt update
          sudo apt install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
          EOF

          sudo apt update
          sudo apt-get install -y --allow-downgrades docker-ce-cli=5:28.0.4-1~ubuntu.24.04~noble docker-ce=5:28.0.4-1~ubuntu.24.04~noble

      - name: Install dependencies
        env:
          ANSIBLE_CORE_1: ${{ matrix.ansible-core-1 }}
        run: |
          sudo apt-get install podman buildah
          pip install "${ANSIBLE_CORE_1}"

      - name: Build ${{ matrix.name }} image
        env:
          NAME: ${{ matrix.name }}
        run: |
          "${NAME}/build.sh"
          podman tag "localhost/test-image:${NAME}" "${CONTAINER_REGISTRY}/${CONTAINER_IMAGE_NAME}:${NAME}"
        working-directory: ./ansible-test/

      # This is necessary to allow running systemd in rootless containers
      - name: Start systemd user service
        run: |
          loginctl enable-linger runner
          sleep 1

      - name: Run basic tests with ${{ matrix.name }} image (${{ matrix.ansible-core-1 }}, Python versions ${{ matrix.python }}, Podman)
        if: ${{ matrix.test-with-podman }}
        env:
          NAME: ${{ matrix.name }}
          PYTHON_VERSIONS: ${{ matrix.python }}
          ANSIBLE_TEST_PREFER_PODMAN: 1
        run: |
          for PYTHON in ${PYTHON_VERSIONS}; do
            ansible-test integration --color -v --python "${PYTHON}" --docker "localhost/test-image:${NAME}" shippable/posix/group1/
          done
        working-directory: ./.github/ansible-test-tests/ansible_collections/testns/testcol

      - name: Copy image from podman to docker
        if: ${{ matrix.test-with-docker }}
        env:
          NAME: ${{ matrix.name }}
        run: |
          podman push "localhost/test-image:${NAME}" "docker-daemon:localhost/test-image:${NAME}"

      - name: Install ansible-core ${{ matrix.ansible-core-2 }}
        if: ${{ matrix.test-with-docker }}
        env:
          ANSIBLE_CORE_2: ${{ matrix.ansible-core-2 }}
        run: |
          pip install "https://github.com/ansible/ansible/archive/${ANSIBLE_CORE_2}.tar.gz"

      - name: Run basic tests with ${{ matrix.name }} image (ansible-core ${{ matrix.ansible-core-2 }}, Python versions ${{ matrix.python }}, Docker)
        if: ${{ matrix.test-with-docker }}
        env:
          NAME: ${{ matrix.name }}
          PYTHON_VERSIONS: ${{ matrix.python }}
        run: |
          for PYTHON in ${PYTHON_VERSIONS}; do
            ansible-test integration --color -v --python "${PYTHON}" --docker "localhost/test-image:${NAME}" shippable/posix/group1/
          done
        working-directory: ./.github/ansible-test-tests/ansible_collections/testns/testcol

      - name: Publish container image as ${{ env.CONTAINER_REGISTRY }}/${{ env.CONTAINER_IMAGE_NAME }}:${{ matrix.name }}
        if: github.event_name != 'pull_request'
        uses: redhat-actions/push-to-registry@v2
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          image: ${{ env.CONTAINER_IMAGE_NAME }}
          tags: ${{ matrix.name }}
          username: ${{ secrets.quay_write_user }}
          password: ${{ secrets.quay_write_pass }}
