name: ansible-test images

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Run once per week (Monday at 08:00 UTC)
  schedule:
    - cron: '0 8 * * 1'

jobs:
  build:
    name: 'Build ansible-test images (${{ matrix.name }} with Python ${{ matrix.python }})'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: archlinux
            python: '3.11'
            ansible-core-1: ''
            ansible-core-2: devel
          - name: centos-stream8
            python: '3.6 3.9'
            ansible-core-1: '==2.15'
            ansible-core-2: stable-2.16
          - name: debian-bullseye
            python: '3.9'
            ansible-core-1: ''
            ansible-core-2: devel
          - name: debian-bookworm
            python: '3.11'
            ansible-core-1: ''
            ansible-core-2: devel

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          sudo apt-get install podman buildah
          pip install ansible-core${{ matrix.ansible-core-1 }}

      - name: Build ${{ matrix.name }} image
        run: |
          ${{ matrix.name }}/build.sh
        working-directory: ./ansible-test/

      # This is necessary to allow running systemd in rootless containers
      - name: Start systemd user service
        run: |
          loginctl enable-linger runner
          sleep 1

      - name: Run basic tests with ${{ matrix.name }} image (ansible-core${{ matrix.ansible-core-1 }}), Python versions ${{ matrix.python }}, Podman
        run: |
          for PYTHON in ${{ matrix.python }}; do
            ansible-test integration --color -v --python ${PYTHON} --docker localhost/test-image:${{ matrix.name }} shippable/posix/group1/
          done
        env:
          ANSIBLE_TEST_PREFER_PODMAN: 1
        working-directory: ./.github/ansible-test-tests/ansible_collections/testns/testcol

      - name: Copy image from podman to docker
        run: |
          podman push localhost/test-image:${{ matrix.name }} docker-daemon:localhost/test-image:${{ matrix.name }}

      - name: Install ansible-core ${{ matrix.ansible-core-2 }}
        run: |
          pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible-core-2 }}.tar.gz

      - name: Run basic tests with ${{ matrix.name }} image (ansible-core devel), Python versions ${{ matrix.python }}, Docker
        run: |
          for PYTHON in ${{ matrix.python }}; do
            ansible-test integration --color -v --python ${PYTHON} --docker localhost/test-image:${{ matrix.name }} shippable/posix/group1/
          done
        working-directory: ./.github/ansible-test-tests/ansible_collections/testns/testcol
